<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- My Css -->
    <link rel="stylesheet" href="/CSS/games.css" />

    <title>Code Challenge Chapter 4 Aditya Nugraha</title>
  </head>
  <body>
    <!-- Games 1 -->
    <div class="container-fluid">
      <div class="row mt-4 ml-3">
        <img class="img-RPS" src="/IMG/logo 1.png" />
        <h1 class="h1 pt-3 pl-5">ROCK PAPER SCISSORS</h1>
      </div>
    </div>
    <table class="table table-borderless" style="text-align: center">
      <tr>
        <td>
          <h2><b>PLAYER 1</b></h2>
        </td>
        <td></td>
        <td>
          <h2><b>COM</b></h2>
        </td>
      </tr>
      <tr>
        <td>
          <div class="player-hand" id="rock">
            <img src="/IMG/batu.png" alt="" />
          </div>
        </td>
        <td></td>
        <td>
          <div class="com-hand" id="com-rock">
            <img src="/IMG/batu.png" alt="" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="player-hand" id="paper">
            <img src="/IMG/kertas.png" alt="" />
          </div>
        </td>
        <td>
          <div id="text-result" class="versus">VS</div>
        </td>
        <td>
          <div class="com-hand" id="com-paper">
            <img src="/IMG/kertas.png" alt="" />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="player-hand" id="scissors">
            <img src="/IMG/gunting.png" alt="" />
          </div>
        </td>
        <td></td>
        <td>
          <div class="com-hand" id="com-scissors">
            <img src="/IMG/gunting.png" alt="" />
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button id="btn-refresh">
            <img src="/IMG/refresh.png" style="width: 77px" />
          </button>
        </td>
        <td></td>
      </tr>
    </table>
    <!-- End games 1 -->
  </body>

  <script type="text/javascript">
    class Player {
      constructor(hand) {
        this.hand = hand;
      }
      getHand() {
        return this.hand;
      }
    }

    class Computer extends Player {
      constructor() {
        let randomNumber = Math.floor(Math.random() * Math.floor(3));
        let hand = "scissors";
        if (randomNumber == 0) {
          hand = "rock";
        }

        if (randomNumber == 1) {
          hand = "paper";
        }

        super(hand);
      }
    }

    class Match {
      constructor(a, b) {
        if (!(a instanceof Player)) {
          console.error("a should be a Player");
        }

        if (!(b instanceof Player)) {
          console.error("b should be a Player");
        }

        this.a = a;
        this.b = b;
      }

      getResult() {
        let result;

        if (this.a.getHand() == this.b.getHand()) {
          result = "draw";
        }

        if (this.a.getHand() == "rock") {
          if (this.b.getHand() == "paper") {
            result = "computer";
          }

          if (this.b.getHand() == "scissors") {
            result = "player";
          }
        }

        if (this.a.getHand() == "paper") {
          if (this.b.getHand() == "rock") {
            result = "player";
          }

          if (this.b.getHand() == "scissors") {
            result = "computer";
          }
        }

        if (this.a.getHand() == "scissors") {
          if (this.b.getHand() == "paper") {
            result = "player";
          }

          if (this.b.getHand() == "rock") {
            result = "computer";
          }
        }

        console.log(
          `Player : ${this.a.getHand()}, Computer : ${this.b.getHand()}, Result: ${result}`
        );

        // console.error(
        //   `Something happened! A : ${this.a.getHand()}, B : ${this.b.getHand}`
        // );

        return result;
      }
    }

    // player1 = new Player("rock", "paper", "scissors");
    player1 = new Player();
    Player2 = new Computer();
    match = new Match(player1, Player2);
    // console.log(
    //   `Player : ${player1.getHand()}, Computer : ${this.Player2.getHand()}, Result : ${match.getResult()}`
    // );

    let textResult = document.getElementById("text-result");
    let playerHands = document.getElementsByClassName("player-hand");
    let computerHands = document.getElementsByClassName("com-hand");
    let btnRefresh = document.getElementById("btn-refresh");
    btnRefresh.addEventListener("click", function (e) {
      resetGame();
    });

    for (let i = 0; i < playerHands.length; i++) {
      const element = playerHands[i];
      element.addEventListener(`click`, function (e) {
        resetHands(playerHands);
        resetHands(computerHands);
        element.classList.add("selected");
        let player1 = new Player(element.id);
        let player2 = new Computer();

        let computerHandElement = document.getElementById(
          "com-" + player2.getHand()
        );

        computerHandElement.classList.add("selected");

        let match = new Match(player1, player2);
        let result = match.getResult();

        textResult.classList.remove("versus");

        if (result) {
          textResult.classList.add("result");
        }

        if (result == "player") {
          // remove existing class
          textResult.classList.remove("computer-win");
          textResult.classList.remove("draw");

          textResult.innerText = "Player 1 Win";
          textResult.classList.add("player-win");
        }
        if (result == "computer") {
          // remove existing class
          textResult.classList.remove("player-win");
          textResult.classList.remove("draw");

          textResult.innerText = "Computer Win";
          textResult.classList.add("computer-win");
        }
        if (result == "draw") {
          // remove existing class
          textResult.classList.remove("player-win");
          textResult.classList.remove("computer-win");

          textResult.innerText = "Draw";
          textResult.classList.add("draw");
        }
      });
    }

    function resetHands(hands) {
      for (let i = 0; i < hands.length; i++) {
        const element = hands[i];
        element.classList.remove("selected");
      }
    }

    function resetTextResult() {
      textResult.innerText = "VS";
      textResult.className = "versus";
    }

    function resetGame() {
      resetHands(playerHands);
      resetHands(computerHands);
      resetTextResult();
    }
  </script>

  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"
  ></script>
</html>
