<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- My Css -->
    <link rel="stylesheet" href="/CSS/home.css">

    <title>Code Challenge Chapter 3 Aditya Nugraha</title>
  </head>
  <body>
   <!-- Navbar -->
   
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#">Work</a>
          <a class="nav-link" href="#">Contact</a>
          <a class="nav-link" href="#">About Me</a>
          <a class="nav-link" href="#">Sign Up</a>
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Log In</a>
        </div>
      </div>
    </div>
   </nav>
   <!-- End Navbar -->

   <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
        <p class="lead">New experience traditional game play</p>
        <button type="button" class="btn btn-warning">PLAY NOW
          <a href="code-challenge-chapter-4.html"></a>
        </button>
        <h5 class="display-5">THE STORY</h5>
        <img src="/IMG/scroll down.svg"/>
      </div>
    </div>
   <!-- End Jumbotron -->

   <!-- the games -->
    <div class="container-fluid-about">
      <div class="row section-about">
        <div class="row-col-md-4">
          <p class="p1">What's so special ?</p>
          <p class="p2">THE GAMES</p>
        </div>
        <div class="row-col-md-8">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/IMG/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600.jpg">
              </div>
              <div class="carousel-item">
                <img src="/IMG/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600.jpg">
              </div>
              <div class="carousel-item">
                <img src="/IMG/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rockpaperstrategy-1600.jpg">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
   <!-- end the games -->

   <!-- game features -->
    <div class="container-fluid-features">
      <div class="row section-features">
        <div class="row-col-md-9">
          <h1 class="h1">What's so special ?</h1>
          <h3 class="h3">FEATURES</h3>
          <p class="p1">TRADITIONAL GAMES</p>
          <P class="p2">If you miss your childhood we provide many traditional games here</P>
          <p class="p3">GAME SUIT</p>
          <p class="p4">TBD</p>
        </div>
      </div>

   <!-- end game features -->


   <!-- system req -->
    <div class="container-fluid-syst">
      <div class="row">
        <div class="row-col-md-2">
          <h3 class="h3">Can My Computer Run this game ?</h3>
          <h1 class="h1">SYSTEM <br> REQUIREMENTS</h1>
        </div>
          <div class="col-lg-6">
            <table cellspacing="0" cellpadding="2" width="573.2px" height="400.69">
              <tr>
                <td>OS: <br> Windows 7 64-bit only <br> (No OSX support at this time)</td>
                <td>PROCESSOR: <br> Intel Core 2 Duo @ 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GHZ</td>
              </tr>
              <tr>
                <td>MEMORY: <br> 4 GB RAM</td>
                <td>STORAGE: <br> 8 GB available space</td>
              </tr>
              <tr>
                <td colspan="2">GRAPHICS: <br> NVIDIA GeForce GTX 660 2GB or <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="/IMG/disquette.svg" alt="">
       </div>
    </div>
   <!-- end system req -->

   <!--top scores  -->
    <div class="container-fluid-scores">
      <div class="row">
        <div class="col-lg-5">
          <h1 class="h1">TOP SCORES</h1>
          <p class="p">This top score from various games provide <br> on this platform</p>
          <button type="button" class="btn btn-warning btn-lg">see more</button>
        </div>
      </div>
    </div>
   <!-- end top scores -->

   <!-- subscribe -->
    <div class="container-fluid-subs">
      <div class="row">
        <div class="col-lg-7">
          <img src="/IMG/image .png" alt="">
        </div>
        <div class="col-lg-12">
            <h1 class="h1">Want to stay in <br> touch ?</h1>
            <h3 class="h3">NEWSLETTER <br> SUBSCRIBE</h3>
            <p class="p">In order to start receiving our news, all you have to do is enter your email <br> address. Everything else will be taken care of by us. we will send you emails <br> containing information about game. we don't spam</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-4">
          <div class="col">MAIN</div>
          <div class="col">ABOUT</div>
          <div class="col">GAME FEATURES</div>
          <div class="col">SYSTEM REQUIREMENTS</div>
        </div>
      </div>
    </div>
   <!-- end subscribe -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>