<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>USER FORM</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">BINAR ACADEMY</a>
      </nav>
      <br>

      <table class="table table-borderless" style="text-align: center">
        <tr>
          <td>
            <form method="POST" action="/User_forms">
                <label for="full_name">Full Name</label>
                <input
                  type="text"
                  name="full_name"
                  id="full_name"
                />
          </td>
        </tr>
        <tr>
          <td>
            <label for="gender">Jenis Kelamin</label>
            <input type="radio" name="gender" id="gender" value="0" /> Laki - Laki
            <input type="radio" name="gender" id="gender" value="1" /> Perempuan
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone">Phone Number</label>
            <input
            type="integer"
            name="phone"
            id="phone"
            />
          </td>
        </tr>
        <tr>
            <td>
              <label for="nationality">Nationality</label>
              <input
              type="text"
              name="nationality"
              id="nationality"
              />
            </td>
        </tr>
        <tr>
            <td>
              <label for="team">Team</label>
              <input type="radio" name="team" id="team" value="0" /> Player One
              <input type="radio" name="team" id="team" value="1" /> Player Two
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr> 
           </form>

      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
  </body>
</html>