<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
  </head>
  <body>
    <h1>Update User</h1>
    <form method="POST" action="/User_games/user-update">
      <input type="hidden" name="id" value="<%= User_game.id %>" />
      <label for="user_name">User Name</label>
      <input
        type="text"
        name="user_name"
        id="user_name"
        value="<%= User_game.user_name %>"
      />
      <label for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        value="<%= User_game.email %>"
      />
      <label for="password">Password</label>
      <input
        type="text"
        name="password"
        id="password"
        value="<%= User_game.password %>"
      />
      <button type="submit">Edit</button>
      </button>
    </form>
  </body>
</html>
