/* games 1 */
body {
  /* background-image: url(Assets/IMG/Group1.1.png); */
  background-color: #9C835F;
  background-size: cover;
  margin-bottom: 0px;
}

.img-RPS {
  width: 72px;
  height: 72px;
}

.h1 {
  color: #f9b23d;
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: bold;
}

table img {
  width: 20%;
}

.versus {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #bd0000;
}

.selected {
  width: fit-content;
  padding: 10px;
  background: #c4c4c4;
  border-radius: 30px;
}

.result {
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  padding: 10px;
  width: fit-content;
  text-align: center;
}

.player-win {
  background: #4c9654;
  color: white;
}

.computer-win {
  background: #bd0000;
  color: white;
}

.draw {
  background: grey;
  color: black;
}
