/* Navbar */
.navbar {
  opacity: 50%;
}
.navbar-brand {
    font-family: open sans;
    font-size: 24px;
}


/* Jumbotron */
.jumbotron {
    background-image: url('../IMG/main-bg.jpg');
    background-size: cover;
    height: 960.25px;
    width: 1441.55px;
    text-align: center;
    margin-bottom: 0px;
}


.jumbotron .display-4 {
    color: white;
    margin-top: 313.7px;
    font-weight: 700;
}

.jumbotron .lead {
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.jumbotron .display-5 {
    color: white;
    margin-top: 280px;
}

/* the games */
.container-fluid-about {
  background-image: url('../IMG/the-games-bg.jpg');
  background-size: cover;
  height: 1051.43px;
  width: 1441.55px;
  margin-bottom: 0px;
}


.row-col-md-4 .p1 {
  color: white;
  font-family: arial;
  font-size: 18px;
  font-weight: 400;
  margin-top: 254.81px;
  margin-left: 79.55px;
}
.row-col-md-4 .p2 {
  color: white;
  font-family: arial;
  font-size: 40px;
  margin-bottom: 681px;
  margin-left: 79.55px;
  margin-right: 439px;
}

.row-col-md-8 {
  position: absolute;
  width: 858px;
  height: 477px;
  margin-top: 292.4px;
  margin-bottom: 282.03px;
  margin-left: 454.55px;
  margin-right: 129.07px;
}

/* game features */
.container-fluid-features {
  background-image: url('../IMG/features.jpg');
  background-size: cover;
  height: 870.26px;
  width: 1441.62px;
  margin-bottom: 0px;
}
.row-col-md-9 .h1 {
  color: white;
  font-family: arial;
  font-size: 24px;
  font-weight: 400;
  margin-top: 169.09px;
  margin-right: 379.05px;
  margin-left: 800.28px;
}
.row-col-md-9 .h3 {
  color: white;
  font-size: 56px;
  margin-left: 796.26px;
  margin-right: 233.86px;
}
.row-col-md-9 .p1 {
  color: gold;
  font-size: 24px;
  margin-top: 120px;
  margin-left: 840px;
}
.row-col-md-9 .p2 {
  color: white;
  font-size: 18px;
  margin-left: 840px;
  margin-right: 236.76px;
}
.row-col-md-9 .p3 {
  color: gold;
  font-size: 24px;
  margin-left: 840px;
}
.row-col-md-9 .p4 {
  color: gold;
  font-size: 24px;
  margin-left: 840px;
}


/* system req */
.container-fluid-syst {
  background-image: url('../IMG/requirements.png');
  background-size: cover;
  position: absolute;
  height: 959.99px;
  width: 1441.58px;
  margin-top: 250px;
  margin-bottom: 0px;
}
.row-col-md-2 .h1 {
  color: white;
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 600px;
  margin-left: 131.55px;
  margin-right: 676.84px;
}
.row-col-md-2 .h3 {
  color: white;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: 567.82px;
  margin-right: 520.89px;
}
.col-lg-6 {
  position: absolute;
  width: 573.2px;
  height: 400.69px;
  font-size: 18px;
  color:white;
  left: 120.22px;
  top: 388.5px;
}
.col-lg-5 {
  position: absolute;
  width: 573.2px;
  height: 400.69px;
  left: 110px;
  top: 388.5px;
}

/* top scores */
.container-fluid-scores {
  background-image: url('../IMG/bg\ image\ 3.jpg');
  background-size: cover;
  position: absolute;
  width: 1441.58px;
  height: 960.16px;
  margin-top: 1200px;
}
.col-lg-5 .h1 {
  color: white;
  font-size: 56px;
  margin-left: 118.97px;
}
.col-lg-5 .p {
  color: white;
  font-size: 18px;
  margin-left: 118.97px;
}
.col-lg-5 .button {
  position: absolute;
  margin-top: 523.13px;
  margin-left: 118.58px;
  margin-right: 1062.64px;
}

/* subs */
.container-fluid-subs {
  background-color: #080A0B;
  position: absolute;
  width: 1448.25px;
  height: 959.87px;
  margin-top: 2150px;
}
.col-lg-7 {
  position: absolute;
  width: 445.47px;
  height: 694.41px;
  left: 159.96px;
}

.col-lg-12 .h1 {
  color: white;
  font-size: 24px;
  position: absolute;
  margin-left: 675.92px;
  line-height: 28px;
  letter-spacing: 2px;
}
.col-lg-12 .h3 {
  color: white;
  font-size: 56px;
  margin-top: 120px;
  margin-left: 672.88px;
}
.col-lg-12 .p {
  color: white;
  margin-left: 675px;
}

.row .row-cols-4 {
  color: white;
  margin-top: 2900px;
  align-items: center;
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}





/* Desktop version */
@media (min-width: 1200px) {
    .navbar-brand, .nav-link {
        color: white !important;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 0px;
    }
}

.jumbotron {
    margin-top: -75px;
}

@media (min-width: 1200px) {
  .container-fluid-about {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .container-fluid-features {
    margin-left: 0px;
    margin-right: 0px;
  }
}
    