<!DOCTYPE html>
<html>
  <head>
    <title><%= Session %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Selamat datang <%= username %></p>
  </body>
</html>
